@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* width: 100vh; */
    /* height: max-content; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}
:root {
    --secondary:#84cc16; 
    --primary: #ffffff;   
  }
  
  * {
      scrollbar-width: thin;
      scrollbar-color: var(--secondary) var(--primary);
      
    }
    
    
    *::-webkit-scrollbar {
      width: 1px;
    }